---
title: About
filterlabel: "What's all this?"
---
<div role="main">
<h1>What is this?</h1>

<p>Three Word Poems is an open poetry and art project. It was started sometime in 2008 by a group of friends. The first entry, "An era ends", was displayed in a temporary gallery on a lamppost close to where they lived.</p>

<p>Please join in!</p>

<p>There's a remit:
<br>
Write brief verse;<br>
make a photograph;<br>
upload it here:<br>
Share with everyone.
</p>
</div>