---
title: Log In
---
		<form action="editor.html" name="login">
			<h2>Log In...</h2>
 			<fieldset>
				<legend>Using social networks</legend>
				<p>
					<span class="network"><button type="submit">Facebook</button></span>
					<span class="network"><button type="submit">Twitter</button></span>
					<br>
					<span class="network"><button type="submit">Github</button></span>
					<span class="network"><button type="submit">OAuth</button></span>
				</p>
			</fieldset>

			<fieldset>
				<legend>Or using email</legend>
				<p><label for="email">Email: </label><input type="text"></p>
				<p><label for="pwd">Password: </label><input type="password"></p>
			</fieldset>
		</form>